<ion-header no-border [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>
      JlPics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <app-posts [posts] = "posts"></app-posts>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="nextPosts($event)" [disabled]="!enabled">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
